[submodule "philo"]
	path = philo
	url = https://github.com/mehrasmeydani/philo.git
[submodule "cpp"]
	path = cpp
	url = https://github.com/mehrasmeydani/42_CPP_modules.git
[submodule "minishell"]
	path = minishell
	url = https://github.com/mehrasmeydani/minishell.git
