[submodule "philo"]
	path = philo
	url = git@github.com:mehrasmeydani/philo
[submodule "cpp"]
	path = cpp
	url = git@github.com:mehrasmeydani/42_CPP_modules.git
[submodule "minishell"]
	path = minishell
	url = git@github.com:mehrasmeydani/minishell.git
